import * as S from './Main.styles';
import { ReactElement } from 'react';

const {{pascalCase name}} = (): ReactElement => (
  <S.Wrapper>
    <h1>{{pascalCase name}}</h1>
  </S.Wrapper>
);

export default {{pascalCase name}};
